body{
    background-color: rgb(240, 250, 250);
    margin: 0;
    height: 100vh;
}
#up_img{
    height: 50px;
    border-radius: 70px;
    align-items: center;
    transform: translateX(720px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
#h1{
    text-align: center;
}
#p1{
    text-align: center;
}
#box1{
    height: 350px;
    width: 750px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    
}
#box2{
    height: 300px;
    width: 700px;
    background-color: white;
    display: grid;
    place-items: center;
    color: black;
    border: 1.5px dashed grey;
    align-content: center;
}
#sd_to_cld{
    height: 50px;
    border-radius: 70px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
#btn1{
    height: 40px;
    border-radius: 12px;
    border-color: blue;
    background-color: blue;
    color: white;
}
#p2{
    color: rgb(99, 96, 96);
}
#box3{
    height: 150px;
    width: 750px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin:310px auto;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    
}